
* {
    font-family: "Roboto Mono", monospace;

    color: white;
}

body {
    background-color: black;

    background-image: url("../media/magic-ball.png");
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}

main {
    display: flex;

    flex-flow: column;
    justify-content: space-around;
    align-items: left;

    width: 70%;
    max-width: 650px;

    margin: 12rem auto;
    padding: 4rem;

}

#phrase-display {
    font-size: 1.6rem;
}