
:root {
	--tile-size: 50px;
	--number-size-ratio: .75;
	--number-margin-ratio: .42;
}

body {
	background-color: #b8b8b8;
}

h1 {
	text-align: center;
	font-size: 3rem;
}

main {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	
	font-family: Arial, Helvetica, sans-serif;
}

#core {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: start;

	padding: 1rem;
	
    background-color: #f5f5f5;
    border-radius: .4rem;
}

#level-select {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;

    height: auto;
    width: 25%;
}

.level-listing {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
	flex-shrink: 100;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    background-color: #dedede;
    margin: .6rem 0;
    padding: 0;

    border-radius: .3rem;
	border-style: none;

    text-decoration: none;
	
	outline-style: solid;
	outline-color: #808080;
}

.level-listing:hover {
	background-color: #96cbff;
	cursor: pointer;
}

.level-listing:active {
	outline-style: none;
}


.level-listing h3 {
	
	margin: .2rem .2rem;
	
	font-family: "Source Code Pro", Courier, monospace;
	font-weight: bold;
	
	font-size: 1.2rem;
}


.level-listing * {
    padding: 0 0.6rem;
}

.level-stats {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;

    width: auto;
}


#game {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 2.5fr;
    grid-template-areas: "stats columns"
                         "rows game";
    
	position: relative;
	
    min-width: 750px;
    min-height: 750px;
	

    margin: .5rem;
	padding: 1rem;

    background-color: #dedede;
    border-radius: .4rem;
}

.stats-area {
    grid-area: stats;
	
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	
	font-family: "Source Code Pro", Courier, monospace;
	
	background-color: #808080;
	
	border-radius: 1rem;
	outline-color: #808080;
	outline-style: solid;
	outline-width: 8px;
}

.column-area {
    grid-area: columns;

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: center;
	
	max-height: 100%;
}

.row-area {
    grid-area: rows;

    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: end;
    justify-content: center;
	
	max-width: 100%;
	
	/*
	border-style: solid;
	border-width: 0;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-color: #808080;
	*/
}


/* Grid */

.game-area {
    grid-area: game;
	
	display: grid;
	
	padding: .8rem;
	
	background-color: #808080;
	
	border-radius: .8rem;
}

.centerline {
	display: block;
	position: absolute;
	
	height: 0px;
	
	/* Center positioning */
	transform: translate(-50%,-50%);
	
	border-width: 2px;
	border-color: #fffa69;
	border-style: solid;
	
	z-index: 1;
}


/* Tiles */

.tile {
    display: flex;
    align-items: center;
    justify-content: center;

	background-color: white;
	
	margin: 2px;

    width: var(--tile-size);
    height: var(--tile-size);

	border-radius: .4rem;
	border-width: 0;

    color: #d41b06;
    font-size: calc(var(--tile-size) * var(--number-size-ratio));
    text-align: center;
	
	z-index: 2;
}

.tile:hover {
	background-color: #f1f1f1;
	
	outline-color: #00dd7d;
	outline-width: 4px;
	outline-style: solid;
}


/* Numbers */

.row.numbers {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;

    height: var(--tile-size);
    width: 100%;

    border-width: 0;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color: #808080;
    border-style: solid;
}

.numbers p {
	display: block;
    font-family: "Source Code Pro", Courier, monospace;
	
	margin: calc(var(--tile-size) * var(--number-size-ratio) * var(--number-margin-ratio)) .2rem;
	
    font-size: calc(var(--tile-size) * var(--number-size-ratio));
    font-weight: 900;
	line-height: 0;
}

.column.numbers {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: end;
    align-items: center;

    height: 100%;
    width: var(--tile-size);
	
    border-width: 0;
    border-right-width: 2px;
    border-left-width: 2px;
    border-color: #808080;
    border-style: solid;
}



/* Timer Area */

.stats-area h3 {
	
	margin: 0;
	padding: 0 .4rem;
	
	color: black;
	background-color: #dedede;

	border-radius: .4rem;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.stats-area h2 {

	margin: 0;
	padding: 0 .4rem;
	
	font-size: 3.4rem;
	
	color: black;
	background-color: #dedede;
	
	border-radius: .4rem;
}

#victory-text {
	font-size: 2.5rem;
	
	margin: .3rem 0;
	
	color: #2b7555;
}