* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 { 
    color: #D62828;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    border-bottom: 1px solid blue;
}

h2 {
    color: #F77F00;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 550;
    margin-left: 10px;
}

main {
    margin: 0 auto;
    width: 80vw;

    background-color:#EAE2B7;
    padding: 1rem;
}

header {
    margin: 0 auto;
    width: 80vw;

    background-color:#EAE2B7;
    padding: 1rem;
}

footer {
    border-style: solid;
    border-color: black;
    border-width: .3rem;

    margin: 0 auto;
    width: 80vw;
    background-color:#EAE2B7;

    padding: 1rem;
}

body {
    background-color:#003049;
    background-image: url("../images/fygar_inflate_s.jpg");
    background-size: 12rem;
}

img {
    border: 2px solid #D62828;
    margin: 10px;
}

a:link {
    color: #D62828;
}

a:visited {
    color: #003049;
}

hr {
    width: 80%;
    margin: 2rem auto;
}

img.side {
    float: right; 
    margin: 0 12px;
}

blockquote { 
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
    padding: 1rem;
}

footer {
    background-color: #FCBF49;
    padding: 4px;
}