/* Full page setup */
* {
	font-family: "Merriweather", Georgia, serif;
}

.fullpage {
    width: 97vw;
	height: 97vh;
	box-sizing: border-box;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
	margin: auto auto;
}


/* Start columns */
.init {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    font-size: 1.4rem;
}

#portrait {
    width: 30%;
    max-width: 20rem;
	

    margin: 2rem;
    border-radius: 1rem;
	border-style: solid;
}

.init div {
    width: 45%;
    max-width: 40rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;

    margin: 2rem;
}

.init h1 {
    margin: .2rem 1rem;

    font-size: 2em;
}

.init h2 {
    margin: .2rem 1rem;

    font-size: 1.6em;
}

.init p {
    margin: 1rem;
}

em {
    font-style: italic;
}

em.company {
    font-weight: bold;
}



/* Links Section */

.links {
    flex: 0 1 70%;
    max-width: 100rem;
    width: 70%;
	max-height: 12rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    list-style-type: none;
}

a {
	width: 20rem;
    height: 5rem;
    margin: 3rem;
	
    display: block;
	
	font-size: 2rem;
	text-decoration: none;
	
    background-color: black;
    color: white;

    border-radius: 1rem;

    text-align: center;
    align-content: center;
}

a:hover {
	background-color: rgb(56, 56, 56);
	color: white;
}

a:visited {
	background-color: rgb(35, 35, 35);
	color: white;
}

a:active {
	background-color: white;
	color: black;
}

a:focus {
	border-style: solid;
	border-width: .2rem;
}



/* Icons */

div.icons {
    flex: 0 1 70%;
    max-width: 100rem;
    width: 70%;
	max-height: 6rem;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

a.icons {
	max-width: 6rem;
	max-height: 6rem;
	width: 6rem;
	height: 6rem;
	
	color: white;
	background-color: white;
	
	margin: 2rem 0;
}

a.icons:hover {
	background-color: rgba(128, 128, 128, 0.26);
}

a.icons:active {
	background-color: rgba(56, 56, 56, .26);
}

a.icons:visited {
	background-color: white;
	color: black;
}

a#github {
	background-image: url("../assets/bxl-github.svg");
	background-repeat: no-repeat;
	background-size: contain;
}
