
body {
    width: 1400px;
    max-width: 75%;

    margin: auto;

    background-color: grey;
}

main {
    padding: 0rem 5rem;

    border-style: solid;
    border-width: 0;
    border-left-width: .4rem;
    border-right-width: .4rem;
    border-color: red;
}

#intro {
    padding: 2rem;
    margin: 1rem;

    text-align: center;

    border-radius: 1rem;
    background-color: darkgray;
}

.block {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
	
	width: 95%;

    padding: 1rem;
    align-content: center;
}

.order {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;

    min-height: 10rem;
    width: 95%;

    margin: 1rem 0;
    margin-top: 0;

    background-color: dimgrey;

    border-radius: .4rem;
}

.mini {
    min-height: 4rem;
    width: 80%;
}

#enemies {
    margin-top: 1rem;
}

/* Text */

h2 {
    margin-bottom: 0;

    text-align: center;
}


/* Combat Unit Displays */

.mini .combat-unit {
    min-width: 165px;
    max-width: 25%;
}

.mini .combat-unit hr {
    margin: 0;

    height: .2rem;
    text-align: center;

    color: red;
    background-color: red;
    border-color: red;
}

.mini .stats {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
}

.mini .combat-unit h4 {
	margin: 1rem 1rem;
}


/* Search Results */

#search-results {
	display: flex;
	flex-flow: column;
	flex-wrap: nowrap;
	justify-content: baseline;
	align-items: center;
	
	width: 95%;
}

#search-results .result {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	
	width: 50%;
	padding: .2rem;
	
	background-color: #919191;
}

.result p {
	margin: .2rem 2rem;
	text-align: left;
}

.result em {
	margin: .2rem 2rem;
	text-align: right;
}
